@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply custom-scrollbar scroll-smooth; /* overflow-y-auto overflow-x-hidden */
	}

	h1,
	h2,
	h3 {
		@apply font-bold;
	}

	h1 {
		@apply text-4xl lg:text-5xl;
	}

	h2 {
		@apply text-2xl lg:text-3xl;
	}

	h3 {
		@apply text-lg lg:text-xl;
	}

	p {
		@apply text-sm lg:text-base;
	}

	/* * {
		@apply border border-red-300;
	} */
	* {
		@apply transition-all;
	}

	main section {
		@apply container px-4 lg:px-12 py-32 lg:py-40 mx-auto h-full max-w-7xl grid grid-cols-1 place-items-center;
	}

	img {
		@apply select-none;
	}
}

@layer components {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.custom-scrollbar {
		@apply scrollbar-thin scrollbar-track-base-200 scrollbar-thumb-primary scrollbar-thumb-rounded;
	}

	.flex-center {
		@apply flex justify-center items-center;
	}

	.glow-item-10 {
		filter: drop-shadow(0 0 10px rgba(77, 108, 64, 1));
	}
	.glow-item-25 {
		filter: drop-shadow(0 0 25px rgba(77, 108, 64, 1));
	}
	.glow-item-50 {
		filter: drop-shadow(0 0 50px rgba(77, 108, 64, 1));
	}
	.glow-item-100 {
		filter: drop-shadow(0 0 100px rgba(77, 108, 64, 1));
	}
	.glow-item-200 {
		filter: drop-shadow(0 0 200px rgba(77, 108, 64, 1));
	}
	.glow-item-300 {
		filter: drop-shadow(0 0 300px rgba(77, 108, 64, 1));
	}
	.glow-item-400 {
		filter: drop-shadow(0 0 400px rgba(77, 108, 64, 1));
	}
	.glow-item-500 {
		filter: drop-shadow(0 0 500px rgba(77, 108, 64, 1));
	}

	.box-gradient {
		background: rgb(239, 128, 49);
		background: -moz-linear-gradient(
			0deg,
			rgba(239, 128, 49, 0.406687675070028) 0%,
			rgba(174, 229, 153, 1) 100%
		);
		background: -webkit-linear-gradient(
			0deg,
			rgba(239, 128, 49, 0.406687675070028) 0%,
			rgba(174, 229, 153, 1) 100%
		);
		background: linear-gradient(
			0deg,
			rgba(239, 128, 49, 0.406687675070028) 0%,
			rgba(174, 229, 153, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef8031",endColorstr="#aee599",GradientType=1);
	}

	.bg-team {
		background: rgb(153, 187, 136);
		background: -moz-linear-gradient(
			180deg,
			rgba(153, 187, 136, 1) 0%,
			rgba(122, 159, 103, 1) 25%,
			rgba(77, 108, 64, 1) 50%,
			rgba(38, 54, 32, 1) 75%,
			rgba(39, 46, 37, 1) 100%
		);
		background: -webkit-linear-gradient(
			180deg,
			rgba(153, 187, 136, 1) 0%,
			rgba(122, 159, 103, 1) 25%,
			rgba(77, 108, 64, 1) 50%,
			rgba(38, 54, 32, 1) 75%,
			rgba(39, 46, 37, 1) 100%
		);
		background: linear-gradient(
			180deg,
			rgba(153, 187, 136, 1) 0%,
			rgba(122, 159, 103, 1) 25%,
			rgba(77, 108, 64, 1) 50%,
			rgba(38, 54, 32, 1) 75%,
			rgba(39, 46, 37, 1) 100%
		);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#99bb88",endColorstr="#272e25",GradientType=1);
	}
}
